.stats-container {
	height: 95px;
}

.stats {
	position: fixed;
	background-color: white;
	width: 940px;
	height: 90px;
	padding: 0px 10px;
	border-bottom: 2px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

.stats h2 {
	margin-bottom: 10px;
}

.stats span {
	margin-right: 5px;
}

.pagination {
	position: absolute;
	top: 4px;
	right: 20px;
	width: 150px;
}

.pagination p {
	margin-bottom: 8px;
}

.pagination button {
	padding: 4px 6px;
	border: 0;
	background-color: #e0e0e0;
}

.pagination .back-btn {
	margin-right: 8px;
}
